body {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  background: rgb(254, 255, 255);
  font-family: cursive;
  background-color: rgb(240, 240, 240);
}
.bkg-image {
  width: fit-content;
  height: fit-content;
  padding-top: 5%;
  background: rgb(197, 209, 213);
  background: linear-gradient(
    0deg,
    rgb(136, 145, 148) 0%,
    rgba(117, 182, 204, 1) 100%
  );
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}

.deflex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(51, 52, 53);
  white-space: wrap;
}

.company-icon {
  max-height: 60px;
}

.company-sector,
.company-name,
.company-image {
  margin-right: 3%;
}
.company-description {
  font-size: 16px;
  width: 50%;
  text-align: justify;
}


.company-link {
  font-size: 16px;
}

/* .stock-price {
    margin-right: 5%;
    margin-left: 10%;
} */
.company-sector {
  font-size: 20px;
  transform: translateY(7%);
  font-style: italic;
}

.company-stock {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.div-cont-description {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas-cont {
  position: relative;
  height: 80vh;
  width: auto;
}
